@{
    ViewData["Title"] = "Página en Mantenimiento";
}

<div class="text-center">
    <h1 class="display-4">Página en Mantenimiento</h1>
    <p>Estamos realizando algunas mejoras. Por favor, vuelva más tarde.</p>
</div>